
body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style:oblique;
    line-height: 1.5;
    color:black;
    background-color: burlywood;
}
h1 {
    color: red;
    text-align: center;
}
.places {
display: flex;
gap: 20px;

}
.place img {
    width: 300px;
    height: 300px;
}
.place {
    text-align: center;
}
.heading {
    color: #800020;
    font-style: italic;
}
h4 {
    font-size: large;
    color: brown;
}