h1 {
    text-align: center;
    color: red;
}
body {
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-weight: bold;
    font-style: oblique;
}
.places {
display: flex;
gap: 20px;

}
.place img {
    width: 200px;
    height: 300px;
}
.place {
    text-align: center;
}
.heading {
    color: #800020;
    font-style: italic;

}

